
<table>
<% @emotions.each do |emotion| %>
  <tr>
    
    <td><%= image_tag "angry.png", size: '64x64', alt: 'I am angry!' %><%= emotion.emotion_type %></td>
    <td><%= link_to 'Read them', posts_path(emotion: emotion.id), rel: "external" %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Emotion', new_emotion_path %>
