<%= form_for @theme, :url => { :action => :create, :emotion => params[:emotion]} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :title, placeholder: "Enter your new Theme" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
