<p id="notice"><%= notice %></p>


<ul data-role="listview" data-inset="true" data-split-theme="a">
<% @user_themes.each do |theme|%>
  <li>
    <%= link_to image_tag(theme.get_photo_url) + theme.title + content_tag(:p,"Open your StoryBook!", :class => "ui-li-aside", :style => 'color:blue;'), theme_path(theme.id), { remote: true }  %>  
    <%= link_to "Open Storybook", theme_path(theme), rel: "external" %>
    
    
    <%#= image_tag theme.get_photo_url%>
    <%#= link_to theme.title, theme_path(theme.id), { remote: true }  %>  
    <%#= link_to "Open Storybook", theme_path(theme), rel: "external" %>  
	  
  	
	</li>
<% end %>
</ul>

<div class="ui-grid-solo">
<div class="ui-block-a"id="data_chart">

</div>

</div>
