<p id="notice"><%= notice %></p>

<ul data-role="listview" data-split-icon="star" data-split-theme="d">
<% @user_themes.each do |theme|%>
  <li>
      <%= image_tag(theme.get_photo_url, :class => 'ui_li_icon') %>
      <%= link_to theme.title, theme_path(theme.id), { remote: true }  %> 
      <%= link_to "Open Storybook", post_path(theme.id) %>
  </li>
<% end %>
</ul>

<div id="bubble_chart" style="width: 70%; height: 40%;"></div>


<div id="data_chart">
</div>
