<ul>
<% @posts.each do |post| %>
  <li><%= link_to image_tag(post.photo.url(:thumb)), post %>
      <%= link_to image_tag("button_cancel.png", size: "24x24"), post, method: :delete, 
	data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>

