// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_themes{
	#thumbnail_holder{
		width : 15%;
	}

	#feeling_graph{
		width : 45%;
	}

	#storybook_link{
		width : 40%;
	}

};

